/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */

.paticka {
    display: none;
}

.doporucujeme {
    display: flex;
    flex-direction: column;
    font-family: Raleway,sans-serif;
    font-weight: 800;
    color: white;
    padding: 10px;
}

.recept-meta {
    font-family: 'Source Sans Pro';
    font-size: 14px;
    font-weight: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.hlavni-recept {
    background-image: url(images/burger.jpg);
    background-position: center;
    background-size: cover;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recept-nazev {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
}

h2 {
    border: 0;
    margin: 0;
    background-position: center;
    background-size: cover;
    font-weight: 800;
    font-size: 28px;
    font-family: Raleway;
    padding-left: 10px;
}

.recepty h2 {
    font-weight: 800;
    font-family: Raleway;
    font-size: 18px;
    padding-left: 10px;
}

.recept2 {
    background-image: url(images/sushi.jpg);
    min-height: 90px;
    background-position: center;
    background-size: cover;
    border-bottom: white;
    border-style: solid;
    border-width: thin;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recept3 {
    background-image: url(images/rajcata.jpg);
    min-height: 90px;
    border-bottom: white;
    border-style: solid;
    border-width: thin;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recept4 {
    background-image: url(images/kure.jpg);
    min-height: 90px;
    background-position: center;
    background-size: cover;
    border-bottom: white;
    border-style: solid;
    border-width: thin;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recept5 {
    background-image: url(images/grilovani.jpg);
    min-height: 90px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 480px) {
    .hlavni-recept {
        min-height: 250px;
        width: 100%;
    }
    .recept2 {
        min-height: 150px;
        width: 50%;
        float: left;
    }
    .recept3 {
        min-height: 150px;
        width: 50%;
        float: left;
    }
    .recept4 {
        min-height: 150px;
        width: 50%;
        float: left;
    }
    .recept5 {
        min-height: 150px;
        width: 50%;
        float: left;
    }
    .doporucujeme {
        padding: 20px;
    }

    h2 {
        font-size: 36px;
    }

    .recepty h2 {
        font-size: 22px;
    }
}


@media (min-width: 860px) {
    .hlavni-recept {
        min-height: 400px;
        width: 33%;
    }
    .recepty {
        width: 66%;
    }
    .recept2 {
        min-height: 200px;
    }
    .recept3 {
        min-height: 200px;
    }
    .recept4 {
        min-height: 200px;
    }
    .recept5 {
        min-height: 200px;
    }
    .doporucujeme {
        display: flex;
        flex-direction: row;
        padding: 20px;
    }
    h2 {
        font-size: 48px;
    }
    .recepty h2 {
        font-size: 28px;
    }
}